<html>
<head>
	<title>Login Form Design</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
<body>
<div class="loginbox">
	<div class="insideLoginBox">
		<img src="../../assets/css/Images/avatar.png" class="avatar">
		<h1>Login Here</h1>
		<form method="post">
			<div>
				<p>Username</p>
				<span><input type="text" placeholder="Enter Username"
													   name="userId" /></span>
			</div>
			<div>&nbsp;</div>
			<div>
				<p>Password</p>
				<span><input type="text" placeholder="Enter Password"
														name="password" /></span>
			</div>
			<input type="submit" name="" value="Login" onclick="javascript: form.action='/doLogin';">
			<a href="register.ftl.html">Register</a><br>
		</form>
	</div>

</div>

</body>
</head>
</html>